<%= display_meta_tags :site => @current_client.username %>
<%= css_link(@current_page,@current_layout) %>
<%= script_link(@current_page,@current_layout) %>

<%= Liquid::Template.parse(@current_page.custom_layout)
                    .render({'page_content' => yield}.merge!(@current_client.usable_liquid_variable))
                    .html_safe %>