<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head"%>
</head>
<body>
<div class="container">
  <%= render "/client/mui/shared/header" %>
  <%= yield %>
  <%= render "/client/mui/shared/footer" %>
</div>
</body>
</html>
