<div class="panel panel-default clearfix">
  <div class="panel-heading"><%= t('general').upcase%></div>
  <div class="panel-body">
    <%= form_for [:admin, page], html: {role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", rows: 10 %>
      </div>
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, Admin::PagesController::STATUS, {},{class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :layout %>
        <%= f.select :layout_id, current_user.layouts.scope_main.map{|l| [l.name, l.id]}, {},{class: "form-control"} %>
      </div>
      <div class="form-group text-right">
        <%= f.submit t('submit').upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div> 
<% unless page.new_record? %>
  <% unless page.is_homepage %>
    <%= form_for [:admin, page], html: {role: "form"} do |f| %>
      <%= f.hidden_field :is_homepage, value: true%>
      <div class="form-group text-right">
        <%= f.submit t('set_as_homepage').upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <div class="panel panel-default clearfix">
    <div class="panel-heading"><%= t('seo').upcase%></div>
    <div class="panel-body">
      <%= form_for [:admin, page], html: {role: "form"} do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :seo_title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :seo_description, class: "form-control", rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :keywords %>
          <%= f.text_area :seo_keywords, class: "form-control", rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :noindex %>
          <%= f.check_box :seo_noindex, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :nofollow %>
          <%= f.check_box :seo_nofollow, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :canonical %>
          <%= f.text_field :seo_canonical, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :link_prev %>
          <%= f.text_field :seo_prev, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :link_next %>
          <%= f.text_field :seo_next, class: "form-control" %>
        </div>
        <div class="form-group text-right">
          <%= f.submit t('submit').upcase, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>   
<% end %>