<div class="panel panel-default">
  <div class="panel-heading"><%= t('pages').upcase%></div>
  <div class="panel-body">   
    <% if current_user.layouts.present? %>       
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <%= link_to new_admin_page_path, class: "btn btn-primary", role: "button"  do %>
            <span class="glyphicon glyphicon-plus"></span> <%= t('new_page') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @pages.each do |page| %>
              <tr>
                <td><%= page.id %></td>
                <td><%= page.title %></td>
                <td><%= page.status %></td>
                <td class="actions">
                  <%= link_to page_link(page), target: '_blank' do %>
                    <span class="glyphicon glyphicon-search">
                  <% end %>
                  <%= link_to edit_admin_page_path(page) do %>
                    <span class="glyphicon glyphicon-edit">
                  <% end %>
                  <%= link_to admin_page_path(page), method: "delete" do %>
                    <span class="glyphicon glyphicon-trash">
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <p>
      <%= "#{t('at_least_one_layout')}" %> <%= link_to t('create_one_now'), new_admin_layout_path %>
    </p>
  <% end %>
  </div>
</div>