<div class="panel panel-default">
  <div class="panel-heading"><%= t('stylesheets').upcase%></div>
  <div class="panel-body">          
    <div class="row">
      <div class="col-xs-12">
        <%= form_for [:admin, resource], html: {role: "form"} do |f| %>
        <%= f.hidden_field :stylesheet_update, value: true %>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% ids = resource.resource_stylesheets.map(&:stylesheet_id)%>
            <% current_user.stylesheets.each do |stylesheet| %>
              <tr>
                <td><%= check_box(resource.class.name.downcase, "stylesheet_ids", {:multiple => true, checked: ids.include?(stylesheet.id)}, stylesheet.id, nil) %></td>
                <td><%= stylesheet.name %></td>
                <td class="actions">
                  <%= link_to edit_admin_stylesheet_path(stylesheet) do %>
                    <span class="glyphicon glyphicon-edit">
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="form-group text-right">
          <%= f.submit t('submit').upcase, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>