<div class="panel panel-default">
  <div class="panel-heading"><%= t('stylesheets').upcase%></div>
  <div class="panel-body">          
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <%= link_to new_admin_stylesheet_path, class: "btn btn-primary", role: "button"  do %>
            <span class="glyphicon glyphicon-plus"></span> <%= t('new_stylesheet') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @stylesheets.each do |stylesheet| %>
              <tr>
                <td><%= stylesheet.id %></td>
                <td><%= stylesheet.name %></td>
                <td class="actions">
                  <%= link_to edit_admin_stylesheet_path(stylesheet) do %>
                    <span class="glyphicon glyphicon-edit">
                  <% end %>
                  <%= link_to admin_stylesheet_path(stylesheet), method: "delete" do %>
                    <span class="glyphicon glyphicon-trash">
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>