<div id="center" class="container">
  <div id="center" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Sign Up</h2>
      <div class="row">
        <div class="col-xs-12">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {role: "form"} ) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, :autofocus => true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :username %>
              <%= f.text_field :username, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit "Sign Up", class: "btn btn-danger", style:"width: 100%" %>
            </div>
            <div class="form-group">
              <%= link_to "Sign In", new_session_path(resource_name), class: "btn btn-primary", style:"width: 100%" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  