<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Hello, world!</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
  </div>
</div>