<% flash.each do |name, msg| %>
  <% case msg %>
  <% when "Welcome! You have signed up successfully." %>
    <%= content_tag :div, class: "alert alert-success" do %>
      <%= content_tag :div, msg, class: "container"%>
    <% end %>
  <% when "Signed in successfully." %>
    <%= content_tag :div, class: "alert alert-success" do %>
      <%= content_tag :div, msg, class: "container"%>
    <% end %>
  <% when "Signed out successfully." %>
    <%= content_tag :div, class: "alert alert-success" do %>
      <%= content_tag :div, msg, class: "container"%>
    <% end %>
  <% when "Invalid email or password." %>
    <%= content_tag :div, class: "alert alert-danger" do %>
      <%= content_tag :div, msg, class: "container"%>
    <% end %>
  <% when "You need to sign in or sign up before continuing." %>
    <%= content_tag :div, class: "alert alert-danger" do %>
      <%= content_tag :div, msg, class: "container"%>
    <% end %>
  <% else %>
    <%= content_tag :div, class: name do %>
      <%= content_tag :div, msg, class: "container"%>
    <% end %>
  <% end %>
<% end %>
<% if (@user.errors.present? if @user.present?) %>
  <%= content_tag :div, class: "alert alert-danger" do %>
    <%= content_tag :div, class: "container" do %>
      <% @user.errors.full_messages.each do |error| %>
        <%= content_tag :li, error, style: "list-style: none;" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>