<div id="home-index">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <strong><h3>We Did All the Confusing Job</h3></strong>
        <p>You will not have to worry about setting up a server or finding a host. Just code!</p>
      </div>
      <div class="col-sm-4">
        <strong><h3>Text-Based App</h3></strong>
        <p>No pain, No gain. Get your hands a bit dirty, earn your pride and create your very own best custom site.</p>
      </div>
      <div class="col-sm-4">
        <strong><h3>No experience, No problems!</h3></strong>
        <p>We are here to help you get the best. Our tutorials include basic usage, HTML, CSS and Javascript.</p>
      </div>
      <div class="col-sm-4">
        <strong><h3>Last Forever</h3></strong>
        <p>All code is stored on the Cloud, you will never lose your code.</p>
      </div>
      <div class="col-sm-4">
        <strong><h3>It is FREE</h3></strong>
        <p>Why not give it a try? No single or monthly fee whatsoever.</p>
      </div>
      <div class="col-sm-4">
        <strong><h3>START NOW!</h3></strong>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong><h3>Why Bob-CMS?</h3></strong>
        <p>Compared to other alternatives out there, starting with Bob-CMS is incredibly easy. Unlike Wordpress and others, you can start it right away and get your site online in less than a minute. Find out how from our tutorial "How to Start with Bob-CMS"</p>
        <p>Unlike those fancy services that allow you to drag and drop those pictures to create your site. Bob-CMS will give you a real experience and feeling of coding which will make you see things differently. By using text-based, every thing can be customized to fit with all of your needs.</p>
        <p>Bob-CMS is now available for free. There is no hidden agenda behind it. Start now without any worry!</p>
      </div>
    </div>
  </div>
</div>