<div class="panel panel-default clearfix">
  <div class="panel-heading"><%= t('general').upcase%></div>
  <div class="panel-body">
    <%= form_for [:admin, script], html: {role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cdn_link %>
        <%= f.text_field :cdn_link, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", rows: 10 %>
      </div>
      <div class="form-group text-right">
        <%= f.submit t('submit').upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>