<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%= post.title %></div>
      <div class="panel-body">
        <%= post.content.html_safe %>
      </div>
      <div class="panel-footer">
        <div class="text-right">
          <%= "#{post.views} #{t('views') } | " %>
          <%= link_to t('more'), client_page_path(post).html_safe%></div>
        </div>
    </div>
  </div>
</div>