<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= @post.title %></li>
</ol>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @post.title %></div>
      <div class="panel-body" id="post">
        <%= @post.content.html_safe %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 text-left">
    <a class="btn btn-primary" role="button">PREV</a>
  </div>
  <div class="col-xs-6 text-right">
    <a class="btn btn-primary" role="button">NEXT</a>
  </div>
</div>
