div#home-index .container{
  min-height: 100vh;
  display: table;
  .row{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  
  }
  p{
    font-size: 18px;
    text-align: justify;
  }
}
