<div class="row">
  <div class="col-xs-12">
    <%= render partial: "form", locals: {layout: @layout} %>
  </div>
  <div class="col-xs-12">
    <%= render partial: "admin/stylesheets/index", locals: {resource: @layout} %>
  </div>
  <div class="col-xs-12">
    <%= render partial: "admin/scripts/index", locals: {resource: @layout} %>
  </div>
</div>

