<div class="panel panel-default">
  <div class="panel-heading"><%= t('layouts').upcase%></div>
  <div class="panel-body">          
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <%= link_to new_admin_layout_path, class: "btn btn-primary", role: "button"  do %>
            <span class="glyphicon glyphicon-plus"></span> <%= t('new_layout') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @layouts.each do |layout| %>
              <tr>
                <td><%= layout.id %></td>
                <td><%= layout.name %></td>
                <td><%= layout.category %></td>
                <td class="actions">
                  <%= link_to edit_admin_layout_path(layout) do %>
                    <span class="glyphicon glyphicon-edit">
                  <% end %>
                  <%= link_to admin_layout_path(layout), method: "delete" do %>
                    <span class="glyphicon glyphicon-trash">
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>