<div class="panel panel-default clearfix">
  <div class="panel-heading"><%= t('general').upcase%></div>
  <div class="panel-body">
    <%= form_for [:admin, user], html: {role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :domain %>
        <%= f.text_field :domain, class: "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit t('submit').upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="panel panel-default clearfix">
  <div class="panel-heading"><%= t('security').upcase%></div>
  <div class="panel-body">
    <%= form_for [:admin, user], html: {role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label :new_password %>
        <%= f.text_field :password, class: "form-control", type: "password" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit t('submit').upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>