<% if @errors.present? %>
  <%= content_tag :div, class: "alert alert-danger" do %>
    <% @errors.each do |error| %>
      <%= content_tag :li, error, style: "list-style: none;" %>
    <% end %>
  <% end %>
<% elsif flash.present? %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
<% end %>