<div class="row" style="padding-top: 15px;">
  <div class="col-xs-6">
    <a href="http://www.bob-cms.com" style="font-size: 24px; color: black; text-decoration: none;">Bob-CMS</a>
  </div>
  <div class="col-xs-6 text-right">
        <p>
      Welcome, <%= "#{current_user.username}" %>
    </p>
    <%= link_to edit_admin_user_path(current_user), class: "btn btn-primary", role: "button"  do %>
      <span class="glyphicon glyphicon-user"></span> <%= t('profile') %>
    <% end %>
    <%= link_to destroy_user_session_path, class: "btn btn-default", role: "button", method: "delete"  do %>
      <span class="glyphicon glyphicon-log-out"></span> <%= t('sign_out') %>
    <% end %>
    <% if current_user.homepage.present? %>
      <%= link_to page_link(current_user.homepage), class: "btn btn-danger", target: '_blank' do %>
        <span class="glyphicon glyphicon-cloud"></span> <%= t('view_a_site') %>
      <% end %>
    <% end %>
  </div>
</div>
<hr>