<div class="list-group">
  <%= admin_sidebar %>
</div>

<%= link_to "http://tutorial.bob-cms.com", target: '_blank', style: "width: 100%", class: "btn btn-success" do %>
  <span class="glyphicon glyphicon-tree-conifer"></span> TUTORIALS
<% end %>