<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head"%>
</head>
  <body>
    <div class="container">
      <%= render "admin/shared/header"%>
      <div class="row">
        <div class="col-xs-3">
          <%= render "admin/shared/sidebar"%>
        </div>
        <div class="col-xs-9">
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => :li, :separator => "" %>
          </ol>
          <%= render "admin/shared/flash_messages"%>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
