<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head"%>
</head>
<body>
<div class="container fluid">
  <%= render 'shared/header' %>
  <% if flash.present? || (@user.errors.present? if @user.present?) %>
    <div style="margin-top: 50px; position: absolute; width: 100%;">
      <%= render 'shared/flash_messages' %>
    </div>
  <% end %>
  <%= yield %>
  <!-- <%= render 'shared/footer' %> -->
</div>
</body>
</html>
